.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(137, 243, 178);
}

h1 {
    text-align: center;
    background: rgb(12, 59, 0);
    color: rgb(245, 245, 245);
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}

.speles_lauk {
    display: flex;
    flex-wrap: wrap;

    width: 485px;
    background: rgb(255, 247, 247);
    text-align: center;
    margin: auto;
    padding: 10px;

}

.bloks {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #009c75;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 45px;
    border-radius: 5px;
    transition: background 0.3s;
}

.bloks:hover {
    background:  #4afcb2;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    background-color: #056312;
    color: white;
    border: 2px solid #067245;
}

a:hover {
    background-color: #48b37d;
    transform: scale(1.05);
}

a:active {
    background-color: #329650;
    color: rgb(178, 236, 130);
    transform: scale(1.05);
}

p {
    padding: 15px;
}

p {
    h3: 15px;
}