<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</header>
<body>
    <div class="ietvars"><!--pelēkais laukums-->
        <div class="galviene"><!--virsraksts un meņuška-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par projektu</a></li>
            </ul>
        </div><!--aizver galvieni-->
        <div class="saturs">
            <p>Projekts "Atmiņu spēle" ir spēle kuru mēs iesākam 11.klasē un pebeidzām 12.klasē. Spēles galvenais mērķis ir trēnēt atmiņu un ūzmanību. </p>

            <p>Spēles veidošanas laika es eksperementēju ar krāsām un četrstūru izmēriem līdz nonācu līdz gala rezultātam. Tika rakstīti vairāki programešanas kodi, kas parbauda, vai kartīs ir vienādas, kā arī ir pievienotā funkcija, kas skaita gājienus un laiku un parāda tos kād spēle ir pabeigta.</p>

            <p>Pie spēles veidošanas mans galveinais mērķis bija izveidot spēli kas strādātu un būtu vizuāli skaista un interesanta. Veicot projektu, es uzlaboju savas programmēšanas un koncentrēšanas spejas.</p>




   <div class="side-text">
            Izveidoja Ruslana Zdanovska 2026 gads.

        </div><!--aizver saturs-->




    </div><!--aizver ietvars-->
</body>




</html>